<div class="col s12 m8 offset-m2 l6 offset-l3">
  <div class="card-panel grey lighten-5 z-depth-1">
    <div class="row valign-wrapper">
      <div class="col s12">
        <span class="black-text">
          <h1>Welcome to my article scrapper!</h1>
        </span>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div id="articles" class="col s6">
    <ul class="collection with-header z-depth-3">
      <li class="collection-header teal lighten-2"><h4>Articles!</h4></li>
{{!--       {{#each burgers}}
        {{#unless this.devoured}}
          <li class="collection-item">
          <div>
            {{this.id}} . {{this.burger_name}}
            <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
              <button class="btn waves-effect waves-light" type="submit">Devour!</button>
            </form>
          </div>
          </li>
        {{/unless}}
      {{/each}} --}}
    </ul>
  </div>

  <div id="notes" class="col s6">
{{!--     <ul class="collection with-header z-depth-3">
      <li class="collection-header teal lighten-2"><h4>Devoured!</h4></li>
      {{#each burgers}}
        {{#if this.devoured}}
          <li class="collection-item">
            {{this.id}} . {{this.burger_name}}
          </li>  
        {{/if}}
      {{/each}}
    </ul> --}}
  </div>
</div>


{{!-- <div class="row">
  <div class="col s4"></div>
  <div class="col s4">
    <div class="card">
      <div id="notes" class="card-content ">
        {{!-- <span class="card-title">Add a Burger!</span> --}}
          <form class="create-update-form" action="burgers/create" method="POST">

    <div class="form-group">
      <label for="ca">Burger Name:</label>
      <input type="text" id="ca" name="name">
    </div>

  <button class="btn waves-effect waves-light" type="submit">Add burger!</button>
  </form>
      </div>
    </div>
  </div>
</div>
 --}}

{{!--     <div id="articles">
    {{#each article}}
    	<p data-id= {{this.dataValues._id}}> {{this.dataValues.title}} <br/>{{this.dataValues.link}} </p>
    {{/each}}
    </div> --}}
    {{!-- <div id="notes"></div> --}}